* {
    box-sizing: border-box;
}

.login_page,
.join_community_page,
.schedule_page {
    background: #342098;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.create_schedule_page {
    background: #342098;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* login page */

.align-stuff {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
    width: 100%;
}

.login-box,
.signup-box {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.inner-box {
    width: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px solid black;
}

.login-heading,
.signup-heading {
    font-size: 3.2rem;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px;
}

.thick-line {
    width: 450px;
    height: 10px;
    margin-bottom: 10px;
}

.thin-line {
    width: 450px;
    height: 5px;
    margin-bottom: 0px;
}

.button {
    width: 210px;
    height: 60px;
    border-radius: 120px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.divider {
    width: 15px;
    height: 80vh;
    background: #9582AF;
    border-radius: 50px;
    margin-left: 8%;
    margin-right: 8%;
}

.purple {
    background: #C487FE;
}

.blue {
    background: #1A0E56;
}

.login-input {
    width: 350px;
    height: 42px;
    margin-top: 20px;
    border: none;
    padding: 5px;
}

.white-font {
    color: white;
}

.black-font {
    color: black;
}

.error {
    color: red;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* join community page */

.medium {
    font-size: 2rem;
}

.big {
    font-size: 3.8rem;
}

.small {
    font-size: 1.4rem;
}

.grey-font {
    color: #D4C1E4;
}

.align-vertical {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.purple_box {
    background: #C487FE;
    border-radius: 120px;
}

.save {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: green;
    border: none;
}

.inline-form {
    display: inline-block;
}

.join_a_community {
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 0;
}

.find_your_school {
    margin: 0;
    padding: 0;
}

.step {
    padding: 0; 
    margin: 0;
}

.dropdown {
    margin-top: 45px;
    margin-bottom: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    width: 400px;
    height: 80px;
    font-size: 2rem;
}

.dot {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin: 15px;
    background: white;
}

.three-dots {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 55px;
}

.cant_find {
    margin-top: 8px;
}

.be_first {
    text-decoration: none;
    color: #C487FE;
}

.align-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 20px;
}

.setting-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #1A0E56;
    margin-top: 5px;
}

.logo {
    font-size: 2rem;
    color: white;
    padding: 0;
    margin: 0;
}

.blue_fig {
    background: #1A0E56;
}

/* Create community */

#school {
    width: 300px;
    height: 35px;
    margin-bottom: 30px;
}

#periods {
    width: 100px;
    height: 35px;
}

.align-vert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.vert-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: -20px;
}

.label-input {
    width: 46%;
    text-align: right;
    margin-right: 3%;
}

.inputs {
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.create_button {
    width: 300px;
    height: 80px;
    font-size: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}

.schedule_link {
    margin-top: 50px;
}

.link {
    color: black; 
    text-decoration: none;
}

.align-vertical-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shift {
    margin-top: 30px;
}

