<!DOCTYPE html>   

<html lang="en">  

  <head>           

    <meta charset="utf-8">      
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />     

    <title>Create community</title>
        
    <link href="/static/styles.css" rel="stylesheet"/>     
  </head>

  <body class="join_community_page">
    <div class="align-horizontal">
        <h1 class="logo">SchoolLife</h1>
    </div>
    <div class="align-vertical">
        <h3 class="grey-font medium step">Step 1 of 2</h3>
        <h2 class="white-font big join_a_community">Create a community</h2>

        <form class="align-vert" action="/create_community" method="post">
            <div class="vert-box">
              <div class="label-input">
                <h3 class="school_name grey-font medium">School name</h3>
                <h3 class="periods_per grey-font medium">Periods per day</h3>
              </div>

              <div class="inputs">
                <input id="school" name="school" type="text" placeholder="E.g. Bishop P.F Reding CSS">
                <input id="periods" name="periods" type="number" placeholder="E.g. 5">
              </div>
            </div>

            <button class="purple_box medium create_button" type="submit">Submit</button>
        </form>

        <div class="three-dots">
                <div class="dot blue_fig"></div>
                <div class="dot"></div>
                <div class="dot"></div>
        </div>

        <div class="error"><p>{{ message }}</p></div>


    </div>
  </body>
</html>