<!DOCTYPE html>   

<html lang="en">  

  <head>           

    <meta charset="utf-8">      
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />     

    <title>Home</title>

    <style>
      .top {
         background: {{ color }};
      }

      .profile-color {
        width: 142px;
        height: 140px;
        border-radius: 50%;
        margin-bottom: 3px;
        background: {{ color }};
      }
    </style>

    <link href="/static/styles.css" rel="stylesheet"/>     

  </head>

  <body class="home_page"> 
    
    <div class="align-horizontal">
        <h1 class="logo">SchoolLife</h1>
        <div class="setting-icon"><a href="/settings" class="settings">settings</a></div>
    </div>
    
    <h1 class="white-font community-name big">{{ community }}</h1>

    {% for i in range(number) %}
      <div class="single_schedule">
        <div class="profile">
          <div class="profile-color" style="width: 142px; height: 140px; border-radius: 50%; margin-bottom: 3px; background: {{ colors[i] }};"></div>
          <div class="username white-font">{{ total[i][0] }}</div>
        </div>
        <div class="squares">
          <div class="top-squares">
            {% for a in range(periods) %}
              <div class="rect top" style="background: {{ colors[i] }};"><p class="subject">{{ total[i][a + 1] }}</p></div>
            {% endfor %}
          </div>
          <div class="bottom-squares">
            {% for a in range(periods) %}
              <div class="rect bottom"><p class="teacher">{{ total[i][a + 1 + periods] }}</p></div>
            {% endfor %}
          </div>
        </div>

      </div>
    {% endfor %}

  </body>

</html>             