<!DOCTYPE html>   

<html lang="en">  

  <head>           

    <meta charset="utf-8">      
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />     

    <title>Schedule</title>
        
    <link href="/static/styles.css" rel="stylesheet"/>     
  </head>

  <body class="schedule_page">
    <div class="align-horizontal">
        <h1 class="logo">SchoolLife</h1>
    </div>

    <div class="align-vertical">
        <h3 class="grey-font medium step">Step 2 of 2</h3>
        <h2 class="white-font big join_a_community">Create a schedule</h2>
        <h3 class="grey-font medium find_your_school">Type in your schedule for others to view.</h3>

        <button class="purple_box create_button small-medium schedule_link"><a class="link" href="/create_schedule">Create schedule</a></button>

        <div class="three-dots">
                <div class="dot"></div>
                <div class="dot blue_fig"></div>
                <div class="dot"></div>
        </div>
    </div>
  </body>
</html>