<!DOCTYPE html>   

<html lang="en">  

  <head>           

    <meta charset="utf-8">      
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />     

    <title>Schedule</title>
        
    <link href="/static/styles.css" rel="stylesheet"/>     
  </head>

  <body class="schedule_page">
    <div class="align-horizontal">
        <h1 class="logo">SchoolLife</h1>
        <div class="setting-icon"><a href="/settings" class="settings">settings</a></div>
    </div>

    <div class="align-vertical">
        <h3 class="grey-font medium step">Steps completed</h3>
        <h2 class="white-font big join_a_community">You are all set up !</h2>
        <h3 class="grey-font medium find_your_school">You can now view the schedules of other people in your community.</h3>

        <button class="purple_box small-medium create_button schedule_link"><a class="link" href="/home">Continue to dashboard</a></button>

        <div class="three-dots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot blue_fig"></div>
        </div>
    </div>
  </body>
</html>